@import "breakpoints";

header {
    position: sticky;
    top: 0;
    height: var(--header-height);
    border-bottom: 1px solid rgba(255,255,255,0.25);
    background: inherit;
    z-index: 10;

    .logo {
        max-height: 60%;
    }
    .align-right {
        position: absolute;
        right: 2rem;
    }
}

.anchor {
    // Compensate for fixed header height on anchors
    padding-top: var(--header-height);
    margin-top: -var(--height-height);
}

#nav {
    height: 100%;
    a {
        font-size: 1.2rem;
        padding: 0 1rem;
        line-height: var(--header-height);
        border-bottom: 2px solid transparent;
        &:hover {
            border-color: var(--accent-color);
        }
    }
    .logo {
        margin: 0 2rem;
        margin-top: -22px;
    }
}
#nav-mobile {
    position: fixed;
    top: calc(var(--header-height) + 1px);
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 0;
    font-size: 1.5rem;
    background-color: var(--bg-color);
    z-index: 11;
    transition: max-height 0.3s linear;
    overflow: hidden;

    > a {
        display: block;
        padding-right: 2rem;
        margin-bottom: 1em;
        text-align: right;
        border-right: 2px solid rgba(0,0,0,0);

        &:hover {
            border-color: var(--accent-color);
        }
        &:first-child {
            margin-top: 2em;
        }
    }

    .socials {
        text-align: center;
    }
}
#mobile-menu-toggle {
    display: none;
}
#mobile-menu > .toggle-icon {
    display: block;
    position: relative;
    width: 24px;
    height: 24px;
    &:before, &:after {
        position: absolute;
        display: block;
        content: " ";
        width: 100%;
        background-color: white;
        height: 2px;
        transition: all 0.5s ease;
    }
    &:before {
        top: 30%;
    }
    &:after {
        top: 70%;
    }
}
#mobile-menu-toggle:checked ~ #mobile-menu > .toggle-icon {
    &:before {
        top: 50%;
        transform: rotate(45deg);
    }
    &:after {
        top: 50%;
        transform: rotate(-45deg);
    }
}
#mobile-menu-toggle:checked ~ #mobile-menu #nav-mobile {
    max-height: 100%;
}
