@import "variables";
@import "theme";
@import "headers";

#events {
    @include breakpoint-medium {
        // Cancel padding starting medium size for a nice scrollbar
        padding-left: 0;
        padding-right: 0;
    }
}
#event-carousel {
    padding: 1rem 0;
    white-space: nowrap;
    text-align: center;
    overflow: auto;

    .event {
        .button {
            margin-top: 1rem;
        }
    }

    @include breakpoint-medium {
        .card {
            display: inline-block;
        }
        .event {
            width: 400px;
            height: 500px;
        }
    }
}
#event-carousel, #contact {
    text-align: center;
    word-break: break-all;

    .card {
        max-width: 90vw;
        margin: 2rem auto;
        overflow: hidden;
        text-align: initial;
        @include breakpoint-medium {
            margin: 0 1rem;
            word-break: break-word;
            white-space: initial;
        }
    }
}

#contact {
    .card {
        width: 300px;
        height: 250px;
        margin: 1rem;

        h3 {
            margin: 1rem 0;
        }
        > p {
            flex: 1;
        }
        [class^="icon-"] {
            font-size: 2rem;
        }
        &.discord .button {
            background-color: #48588F;
        }
        &.twitter .button {
            background-color: #13679B;
        }
    }
}

#donate-button {
    width: 260px;
    padding: 0;
    overflow: hidden;

    .wrapper {
        align-items: center;
        > div {
            width: 60px;
            align-self: start;
            padding: 0.5rem;
            box-sizing: border-box;
            background-color: white;
            > img {
                max-width: 100%;
            }
        }

        span {
            flex: 1;
            display: inline-block;
            padding: 0 1rem;
        }
    }
}

.socials {
    font-size: 1.5rem;
    > a {
        margin: 0 0.5rem;
    }
}
