@import "variables";
@import "theme";
@import "headers";
@include breakpoint-medium {
    #events {
        padding: 0; // Cancel padding starting medium size for a nice scrollbar
    }
}

#event-carousel {
    padding: 1rem 0;
    white-space: nowrap;
    text-align: center;
    overflow: auto;

    .event {
        height: 300px;

        img {
            margin: 0;
            max-width: 100%;
        }

        @include breakpoint-medium {
            width: 400px;
            height: 600px;
        }
    }

}
#event-carousel, #contact {
    text-align: center;
    word-break: break-all;

    .card {
        max-width: 90vw;
        margin: 2rem auto;
        overflow: hidden;
        text-align: initial;
        @include breakpoint-medium {
            display: inline-block;
            margin: 0 1rem;
            padding: 1rem;
            word-break: break-word;
            white-space: initial;
        }
    }
}

#contact .card {
    @include breakpoint-medium {
        width: 200px;
    }
}

.socials {
    font-size: 1.5rem;
    > a {
        margin: 0 0.5rem;
    }
}
