@import "background";
html {
    font-size: 16px;
    font-family: sans-serif;
    color: white;
}
body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background-color: var(--bg-color);
}
h1 {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}
h2 {
    margin-top: 2rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}
h1, h2, h3, nav a {
    font-family: Jura, sans-serif;
}

[class^="icon-"], [class*=" icon-"] {
    color: white;
    font-size: 32px;
}
button {
    background: none;
    border: none;
    cursor: pointer;
}
main {
    > section {
        margin-top: 6rem;
    }
}

footer {
    margin-top: 3rem;
    height: var(--footer-height);
}

// Components
.card {
    padding: 0.5rem 1rem;
    background-color: rgba(255,255,255,0.05);
    border: 1px solid rgba(255,255,255,0.50);
    border-radius: 1rem;
    box-sizing: border-box;
    transition: all 0.2s ease-out;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.3);

    &:hover {
        transform: scale(1.01);
        box-shadow: 0 0 12px 0 rgba(0,0,0,0.3);
    }
}

// Utility Classes
.text-center {
    text-align: center;
}
.text-medium {
    font-size: 1.2rem;
}
.flex {
    display: flex;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-fill {
    flex-grow:1;
}
.flex-align-center {
    align-items: center;
    justify-content: center;
}
.max-width-md {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}
