@import "breakpoints";

:root {
    --header-height: 4rem;
    --footer-height: 4rem;
    --accent-color: #CE522B;
    --bg-color: #130A21;

    @include breakpoint-medium {
        --header-height: 6rem;
        --footer-height: 6rem;
    }
}
