<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Rust Lille</title>
        <link rel="stylesheet" href="style.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Jura:wght@400;600&display=swap" rel="stylesheet">
    </head>

    <body class="flex-column">
        <div aria-hidden="true" class="stars"></div>
        <header>
            <nav class="flex flex-align-center">
                <a href="/"> Accueil</a>
                <a href="/contact"> Contact</a>
                <img src="images/rustlille-logo.svg" />
                <a href="/sponsor"> Sponsors</a>
                <a href="/about">À propos</a>
            </nav>
        </header>
        <main class="flex-fill">
            {% block maincontent %}
            <h1 class="text-center blobs blobs-1">Venez explorer l'univers Rust avec nous</h1>
            <p class="text-medium text-center">
            Rust Lille est une association dédiée à l’animation de la
            communauté Rust autour de la métropole Lilloise. Nous
            organisons des meetups et workshops pour permettre à tous de
            découvrir et s’améliorer dans la pratique de Rust et du
            développement.
            </p>
            {% endblock %}
        </main>
        <footer class="flex flex-align-center">
            <p>Rust Lille © 2024 </p>
        </footer>
    </body>
</html>
