<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rust Lille</title>
</head>

<body>
{% block header %}
<header>
    <nav>
        <ul>
            <li><a href="/"> Accueil</a></li>
            <li><a href="/contact"> Contact</a></li>
            <li><a href="/sponsor"> Sponsors</a></li>
            <li><a href="/about">À propos</a></li>
        </ul>
    </nav>
</header>
{% endblock header %}
<div>
    <div>
        <div>
            {% block content %}{% endblock content %}
        </div>


    </div>
    {% block footer %}
    <footer>
        <div>
            <p>Rust Lille © 2024 </p>
        </div>
    </footer>
    {% endblock footer %}
</div>
</body>
</html>
