{% extends "base.html" %}

{% block content %}
<div>
    <h1> {{config.title}} </h1>
    <p> {{config.description}} </p>
</div>

{% set posts = get_section(path="blog/_index.md") %}

<div id="posts">
    {% for post in posts.pages %}
    <div>
            <h2>{{post.title}}</h2>
            {% if post.extra.splash %}
            <img alt="Post thumbnail image" src="{{post.extra.splash}}"/>
            {% endif %}

        {{ post.description | safe }}
        <a href="{{post.permalink}}">
            En savoir plus...
        </a>
        {% if post.extra.meetup %}
        <a href="{{post.extra.meetup.link}}"> Réserver une place pour le {{post.date}}</a>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock content %}

