{% extends "base.html" %}

{% block content %}
<section id="hero" class="max-width-md">
    <h1 class="text-center">Explorez l'univers Rust avec nous</h1>
    <p class="text-medium text-center">
    Rust Lille rassemble la communauté Rust autour de la métropole Lilloise. Nous
    organisons des meetups et workshops pour permettre à tous de
    découvrir et s’améliorer dans la pratique de Rust et du
    développement.
    </p>
</section>
{% set events = get_section(path="events/_index.md") %}

<!-- <section id="events" class="text-center">
    <h2>Évènements à venir</h2>
    {% set eventCount = events.pages | length %}
    {% if eventCount > 0 %}
    <div id="event-carousel">
        <div>
            {% for event in events.pages %}
            {% include "partials/event.html" %}
            {% endfor %}
        </div>
    </div>
    {% else %}
    <p>On est encore en train de préparer notre prochain évènement ! Stay tuned !
    {% endif %}
</section> -->

<section id="contact" class="max-width-md">
    <h2>Contact</h2>
    <div class="flex flex-wrap flex-center">
        <div class="card flex-column discord">
            <span class="icon-discord"></span>
            <h3>Discord</h3>
            <p>Rejoignez la communauté sur Discord et contactez l'organisation</p>
            <a class="button" href="https://discord.gg/2hyqqzpbDc" target="_blank">Rejoindre</a>
        </div>
        <div class="card flex-column twitter">
            <span class="icon-twitter"></span>
            <h3>Twitter</h3>
            <p>Rust Lille est aussi sur Twitter !</p>
            <a class="button" href="https://twitter.com/@rustlille" target="_blank">@rustlille</a>
        </div>
    </div>
</section>
{% endblock content %}

